@Bardamu @Ludogo @H0B0KEN @Psykali
#si tu ne sais pas à quoi sert ce fichier, avant de le supprimer va voir là 
#https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners